<div id="mammotion_widget_flat_ID" class="eqLogic-widget eqLogic noResize mammotion_widget_flat mammotion_widget_flat_#id# mammotion" style="min-width:910px !important; max-width:910px !important; min-height:364px; max-height:364px; text-align:center; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">

	<div class="text-center widget-name">
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;">#name_display# <span class="object_name">#object_name#</span></a>
	   	<span class="cmd refresh pull-right cursor" title="{{Rafraichir}}" data-cmd_id="#refresh_id#" onclick="jeedom.cmd.execute({id: #refresh_id#});">
		   <i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
	   	</span>
	</div>
			
	<div class="container-fluid">
		
		<div>
			
			<!-- Column N°1 -->
			<div class="col-xs-6 column_1#id#" id="column" style="width:452px;">
				
				<div class="col-xs-6" id="tile" style="height:150px; width: 220px;">
					<div id="picture"> 
						<img id="img#id#"/>
					</div>
				</div>
				<div class="col-xs-6" id="tile" style="height:150px; width: 220px;">
					<div class="col-xs-2" id="icon_tile" style="height:50px;"><i class="fas fa-tools"></i></div>
					<div class="col-xs-10" id="titre_tile" style="height:50px; align-content:center;">{{Entretien}}</div>
					<div class="col-xs-12" id="sub_tile" style="height:75px;">
						<div class="col-xs-8" id="titre_tile_3"><span>{{Kilométrage total :}}</span></div>
						<div class="col-xs-4" id="value_tile"><span class="Cmd#total_mileage_id#"></span></div>
						<div class="col-xs-8" id="titre_tile_3"><span>{{Durée d'activité :}}</span></div>
						<div class="col-xs-4" id="value_tile"><span class="Cmd#total_work_time_id#"></span></div>
						<div class="col-xs-8" id="titre_tile_3"><span>{{Cycle de batterie :}}</span></div>
						<div class="col-xs-4" id="value_tile"><span class="Cmd#bat_cycles_id#"></span></div>
						<div class="col-xs-8" id="titre_tile_3"><span>{{Temps restant lames :}}</span></div>
						<div class="col-xs-4" id="value_tile"><span class="Cmd#blade_used_left_time_id#"></span></div>
					</div>
				</div>

				<div class="col-xs-6" id="tile" style="height:150px; width: 446px;">
					
					<div class="col-xs-1" id="icon_tile" style="height:85px;"><i class="fas fa-robot"></i></div>
					<div class="col-xs-5" id="text_tile" style="height:85px;">
						<div class="col-xs-12" id="titre_tile" style="padding-left: 10px !important;"><span>#device_name#id##</span></div>
						<div class="col-xs-12" id="value_tile" style="padding-left: 10px !important;"><span class="Cmd#docked_id#"></span></div>
					</div>
					<div class="col-xs-6" id="text_tile" style="height:86px; padding-left: 10px !important;">
						<button id="mammotion_btn" class="btn cmd action" data-cmd_id="#start_id#" title="{{Démarrer}}" onclick="jeedom.cmd.execute({id: #start_id#});"><i class="fa-lg icon fas fa-play"></i></button>
						<div class="mammotion_select_wrapper" title="Tondre une zone">
							<i class="fa-lg icon fas fa-map-marked-alt"></i>
							<select class="cmd selectCmd action mammotion_select" data-cmd_id="#start_zone_id#" onchange="jeedom.cmd.execute({id: #start_zone_id#, value: {select: this.value}}); this.selectedIndex=0;">#start_zone_listValue#</select>
						</div>
						<div class="mammotion_select_wrapper" title="Lancer une activité" >
							<i class="fa-lg icon fas fa-clipboard-list"></i>
							<select class="cmd selectCmd action mammotion_select" data-cmd_id="#start_activity_id#" onchange="jeedom.cmd.execute({id: #start_activity_id#, value: {select: this.value}}); this.selectedIndex=0;">#start_activity_listValue#</select>
						</div>						
						<button id="mammotion_btn" class="btn cmd action" data-cmd_id="#pause_id#" title="{{Pause}}" onclick="jeedom.cmd.execute({id: #pause_id#});"><i class="fa-lg icon fas fa-pause"></i></button>
						<button id="mammotion_btn" class="btn cmd action" data-cmd_id="#resume_id#" title="{{Reprendre}}" onclick="jeedom.cmd.execute({id: #resume_id#});"><i class="fa-lg icon fas fa-redo-alt"></i></button>
						<button id="mammotion_btn" class="btn cmd action" data-cmd_id="#cancel_id#" title="{{Annuler}}" onclick="bootbox.confirm('<br><br>{{La fin de l\'activité entraine la perte de toutes les données de l\'activité en cours. Mettre fin à l\'activité maintenant ?}}', function(result) { if(result) { jeedom.cmd.execute({id: #cancel_id#}); } });"><i class="fa-lg icon fas fa-times"></i></button>
						<button id="mammotion_btn" class="btn cmd action" data-cmd_id="#dock_id#" title="{{Retour station}}" onclick="jeedom.cmd.execute({id: #dock_id#});"><i class="fa-lg icon fas fa-home"></i></button>
					</div>

					<div id="luba#id#">
						<div class="col-xs-1" id="icon_tile_3" style="height:65px;"><i class="fas fa-cogs"></i></div>
						<div class="col-xs-11" id="text_tile" style="height:65px;">
							<div class="col-xs-4" id="value_tile_3" style="padding-left: 10px !important;"><span>{{Hauteur de lames}}</span></div>
							<div class="col-xs-6" style="padding-top:10px; align-content:center;">
								<input type="range" class="cmd action mammotion-slider" data-cmd_id="#set_blade_height_id#"
									min="#blade_height_min#id##" max="#blade_height_max#id##" data-target="#blade_height_target#" step="5"
    								oninput="$('.Cmd#blade_height_target_id#').text(this.value + ' mm');"
									onchange="jeedom.cmd.execute({id: #set_blade_height_id#, value: {slider: this.value}});">
							</div>
							<div class="col-xs-2" id="value_tile_3" style="text-align: right !important;"><span class="Cmd#blade_height_target_id#">- mm</span></div>
							
							<div class="col-xs-4" id="value_tile_3" style="padding-left: 10px !important;"><span>{{Vitesse de tonte}}</span></div>
							<div class="col-xs-6" style="padding-top:10px; align-content:center;">
								<input type="range" class="cmd action mammotion-slider" data-cmd_id="#set_speed_id#"
									min="#speed_min#id##" max="#speed_max#id##" data-target="#speed_target#"  step="0.1"
    								oninput="$('.Cmd#speed_target_id#').text(this.value + ' m/s');"
									onchange="jeedom.cmd.execute({id: #set_speed_id#, value: {slider: this.value}});">
							</div>
							<div class="col-xs-2" id="value_tile_3" style="text-align: right !important;"><span class="Cmd#speed_target_id#">- m/s</span></div>
						</div>
					</div>					

				</div>

			</div>

			<!-- Column N°2 -->
			<div class="col-xs-6 column_1#id#" id="column" style="width:452px;">
				
				<div class="col-xs-6" id="tile" style="height:72px; width: 220px;">
					<div class="col-xs-3" id="icon_tile" style="height:67px;"><span class="Ico#charging_id#"></span></div>
					<div class="col-xs-9" id="text_tile" style="height:67px;">
						<div class="col-xs-12" id="titre_tile">{{Batterie}}</div>
						<div class="col-xs-12" id="value_tile"><span class="Cmd#battery_id#"></span><span class="Cmd#charging_id#"></span></div>
					</div>
				</div>
				
				<div class="col-xs-6" id="tile" style="height:72px; width: 220px;">
					<div class="col-xs-3" id="icon_tile" style="height:67px;"><i class="fas fa-wifi"></i></div>
					<div class="col-xs-9" id="text_tile" style="height:67px;">
						<div class="col-xs-12" id="titre_tile">{{Connexion}}</div>
						<div class="col-xs-12" id="value_tile"><span class="Cmd#connect_type_id#"></span><span class="Cmd#wifi_rssi_id#"></span></div>
					</div>
				</div>
				
				<div class="col-xs-6" id="tile" style="height:72px; width: 220px;">
					<div class="col-xs-3" id="icon_tile" style="height:67px;"><i class="fas fa-info"></i></div>
					<div class="col-xs-9" id="text_tile" style="height:67px;">
						<div class="col-xs-12" id="titre_tile">{{Statut}}</div>
						<div class="col-xs-12" id="value_tile"><span class="Cmd#last_event_id#"></span></div>
					</div>				
				</div>
				
				<div class="col-xs-6" id="tile" style="height:72px; width: 220px;">
					<div class="col-xs-3" id="icon_tile" style="height:67px;"><i class="fas fa-ruler"></i></div>
					<div class="col-xs-9" id="text_tile" style="height:67px;">
						<div class="col-xs-12" id="titre_tile">{{Hauteur de lames}}</div>
						<div class="col-xs-12" id="value_tile"><span class="Cmd#blade_height_id#"></span></div>
					</div>				
				</div>

				<div class="col-xs-12" id="tile" style="height:150px; width: 446px;">
					<div class="col-xs-12" id="titre_tile_2">{{Tonte}}</div>
					<div class="col-xs-12 mammotion_progress-container">
						<div class="col-xs-12 mammotion_line" style="justify-content: left">
							<span>{{Progression}}&nbsp;&nbsp;</span>
							<span class="Cmd#work_progress_id#"></span>
						</div>
						<div class="mammotion_progress" id="mammotion_progress_1">
							<div class="mammotion_progress-bar"></div>
						</div>
					</div>
					<div class="col-xs-12" id="text_tile_2">
						<div class="col-xs-1" id="icon_tile_2"><i class="fas fa-chart-area"></i></div>
						<div class="col-xs-5" id="value_tile_2">{{Surface à tondre : }}<span class="Cmd#work_area_id#"></span></div>
						<div class="col-xs-1" id="icon_tile_2"><i class="fas fa-tachometer-alt"></i></div>
						<div class="col-xs-5" id="value_tile_2">{{Vitesse : }}<span class="Cmd#speed_id#"></span></div>
					</div>
					<div class="col-xs-12" id="text_tile_2">
						<div class="col-xs-1" id="icon_tile_2"><i class="far fa-clock"></i></div>
						<div class="col-xs-5" id="value_tile_2">{{Temps restant : }}<span class="Cmd#left_time_id#"></span></div>
						<div class="col-xs-1" id="icon_tile_2"><i class="fas fa-history"></i></div>
						<div class="col-xs-5" id="value_tile_2">{{Temps écoulé : }}<span class="Cmd#elapsed_time_id#"></span></div>
					</div>				
				</div>
							
			</div>

		</div>

		<div class="col-xs-12" style="height:25px;">
			<div id="last_update">{{Dernière mise à jour : }}<span class="Cmd#lastUpdate_id#"></span></div>
		</div>
		
	</div>
	
	<script>

		//----- Theme colors & optional parameters
		function setTheme#id#() {
			var link = document.createElement('link');
			link.type = 'text/css';
			link.rel = 'stylesheet';
			
			if ($('body').attr('data-theme').endsWith('Dark')) {
				link.href = 'plugins/mammotion/core/template/dashboard/mammotion_dashboard_style_dark.css';
			}
			else if ($('body').attr('data-theme').endsWith('Light')) {
				link.href = 'plugins/mammotion/core/template/dashboard/mammotion_dashboard_style_light.css';
			}
			document.head.appendChild(link);
		}

		//----- Events
		$('body').on('changeThemeEvent', function (event,theme) {
			setTheme#id#();
		});

		//----- Initialization
		function timedSetTheme#id#(occurence = 0){
			if ($('.mammotion_widget_flat_#id#').length == 0) {
				return;
			}
			if ( $('body')[0].hasAttribute('data-theme') != true )  {
				occurence++;
				if (occurence > 40){
					return;
				}
				setTimeout( () => { timedSetTheme#id#(occurence); }, 500 );
				return;
			}
			setTheme#id#();
			updateImage#id#();
			updateDisplayDashboard#id#();
		}
		
		if ( $('body')[0].hasAttribute('data-theme') == true )  {
			setTheme#id#();
			updateImage#id#();
			updateDisplayDashboard#id#();
		}
		else  {
			timedSetTheme#id#(0);
		}

		//----- Slider
		function updateSlider#id#(slider){
			var percent = (slider.value-slider.min)*100/(slider.max-slider.min);
			slider.style.setProperty('--value', percent + '%');
		}

		document.querySelectorAll('.mammotion_widget_flat_#id# .mammotion-slider').forEach(slider=>{
			var t = parseFloat(slider.dataset.target);
    		slider.value = isNaN(t) ? slider.min : t;
			updateSlider#id#(slider);
			slider.addEventListener('input', ()=>updateSlider#id#(slider));
		});

		//----- Luba
		var deviceName#id# = '#device_name#id##';
		if (deviceName#id#.includes('Luba')) {
			document.getElementById('luba#id#').classList.remove('disabled');
		} else {
			document.getElementById('luba#id#').classList.add('disabled');
		}

		//----- Image
		function updateImage#id#()  {
			var image = '';
			var device = ('#device_name#id##' || '').toLowerCase();
			['yuka', 'luba', 'spino'].forEach(function (family) {
				if (!image && device.indexOf(family) !== -1) {
					image = 'plugins/mammotion/data/mammotion_' + family + '.png';
				}
			});
		
			var img = document.getElementById('img#id#');
			img.onerror = function() {
				this.onerror = null;
				this.src = 'plugins/mammotion/data/image_robot_not_found.png';
			};
			img.src = image || 'plugins/mammotion/data/image_robot_not_found.png';
		}


		//----- Dashboard display update
		function updateDisplayDashboard#id#()  {
	
			//----- Maintenance
			jeedom.cmd.update['#total_mileage_id#'] =function(_options) {
				$('.Cmd#total_mileage_id#').empty().append('<span>'+ Math.round(_options.display_value) +' km</span>');
			}
			jeedom.cmd.update['#total_mileage_id#']({display_value: '#total_mileage#'});
			
			jeedom.cmd.update['#total_work_time_id#'] =function(_options) {
				$('.Cmd#total_work_time_id#').empty().append('<span>'+ Math.round(_options.display_value) +' heures</span>');
			}
			jeedom.cmd.update['#total_work_time_id#']({display_value: '#total_work_time#'});

			jeedom.cmd.update['#bat_cycles_id#'] =function(_options) {
				$('.Cmd#bat_cycles_id#').empty().append('<span>'+ _options.display_value +' fois</span>');
			}
			jeedom.cmd.update['#bat_cycles_id#']({display_value: '#bat_cycles#'});

			jeedom.cmd.update['#blade_used_left_time_id#'] =function(_options) {
				var left_time = Math.round(_options.display_value);
				if (left_time >= 0 && left_time <= 5) { $('.Cmd#blade_used_left_time_id#').empty().append('<span style="color : rgb(185, 58, 62);">'+ left_time +' heures</span>'); }
				else if (left_time > 5 && left_time <= 10) { $('.Cmd#blade_used_left_time_id#').empty().append('<span style="color : rgb(195, 125, 40);">'+ left_time +' heures</span>'); }
				else { $('.Cmd#blade_used_left_time_id#').empty().append('<span>'+ left_time +' heures</span>'); }
			}
			jeedom.cmd.update['#blade_used_left_time_id#']({display_value: '#blade_used_left_time#'});			
			
			//----- Base
			jeedom.cmd.update['#docked_id#'] =function(_options) {
				if ( _options.display_value == 1 )  {
					$('.Cmd#docked_id#').empty().append('<span>'+'Sur la base'+'</span>');
				}
				else  {
					$('.Cmd#docked_id#').empty().append('<span>'+'Hors de la base'+'</span>');
				}
			}
			jeedom.cmd.update['#docked_id#']({display_value: '#docked#'});

			//----- Set blade height & speed
			if ('#blade_height_target_id#'.indexOf('#') === -1) {
				jeedom.cmd.update['#blade_height_target_id#'] =function(_options) {
					if ( _options.display_value == '' || _options.display_value == null )  {
						$('.Cmd#blade_height_target_id#').empty().append('<span>- mm</span>');
					}
					else  {
						$('.Cmd#blade_height_target_id#').empty().append('<span>'+_options.display_value+' mm</span>');
					}
				}
				jeedom.cmd.update['#blade_height_target_id#']({display_value: '#blade_height_target#'});
			}

			if ('#speed_target_id#'.indexOf('#') === -1) {
				jeedom.cmd.update['#speed_target_id#'] =function(_options) {
					if ( _options.display_value == '' || _options.display_value == null )  {
						$('.Cmd#speed_target_id#').empty().append('<span>- m/s</span>');
					}
					else  {
						$('.Cmd#speed_target_id#').empty().append('<span>'+_options.display_value+' m/s</span>');
					}
				}
				jeedom.cmd.update['#speed_target_id#']({display_value: '#speed_target#'});
			}

			//----- Battery
			jeedom.cmd.update['#battery_id#'] =function(_options) {
				$('.Cmd#battery_id#').empty().append('<span>'+_options.display_value+' %</span>');
			}
			jeedom.cmd.update['#battery_id#']({display_value: '#battery#'});

			jeedom.cmd.update['#charging_id#'] =function(_options) {
				if ( _options.display_value == 1 )  {
					$('.Ico#charging_id#').empty().append('<span><i class="fas fa-plug"></i></span>');
					$('.Cmd#charging_id#').empty().append('<span>&nbsp;&nbsp;(en charge)</span>');
				}
				else  {
					$('.Ico#charging_id#').empty().append('<span><i class="fas fa-battery-half"></i></span>');
					$('.Cmd#charging_id#').empty().append('<span></span>');
				}
			}
			jeedom.cmd.update['#charging_id#']({display_value: '#charging#'});

			//----- Connexion
			jeedom.cmd.update['#connect_type_id#'] =function(_options) {
				$('.Cmd#connect_type_id#').empty().append('<span>'+_options.display_value+' </span>');
			}
			jeedom.cmd.update['#connect_type_id#']({display_value: '#connect_type#'});

			jeedom.cmd.update['#wifi_rssi_id#'] =function(_options) {
				$('.Cmd#wifi_rssi_id#').empty().append('<span>&nbsp;&nbsp;('+_options.display_value+' dBm)</span>');
			}
			jeedom.cmd.update['#wifi_rssi_id#']({display_value: '#wifi_rssi#'});

			//----- Statut
			jeedom.cmd.update['#last_event_id#'] =function(_options) {
				$('.Cmd#last_event_id#').empty().append('<span>'+_options.display_value+'</span>');
			}
			jeedom.cmd.update['#last_event_id#']({display_value: '#last_event#'});

			jeedom.cmd.update['#blade_height_id#'] =function(_options) {
				$('.Cmd#blade_height_id#').empty().append('<span>'+_options.display_value+' mm</span>');
			}
			jeedom.cmd.update['#blade_height_id#']({display_value: '#blade_height#'});

			//----- Mowing
			jeedom.cmd.update['#work_progress_id#'] =function(_options) {
				$('.Cmd#work_progress_id#').empty().append('<span>('+_options.display_value+' %)</span>');
				$('#mammotion_progress_1').empty().append('<div class="mammotion_progress-bar" style="width: '+_options.display_value+'%"></div>');
			}
			jeedom.cmd.update['#work_progress_id#']({display_value: '#work_progress#'});

			jeedom.cmd.update['#work_area_id#'] =function(_options) {
				$('.Cmd#work_area_id#').empty().append('<span>'+_options.display_value+' m²</span>');
			}
			jeedom.cmd.update['#work_area_id#']({display_value: '#work_area#'});

			jeedom.cmd.update['#speed_id#'] =function(_options) {
				$('.Cmd#speed_id#').empty().append('<span>'+_options.display_value+' m/s</span>');
			}
			jeedom.cmd.update['#speed_id#']({display_value: '#speed#'});

			jeedom.cmd.update['#left_time_id#'] =function(_options) {
				$('.Cmd#left_time_id#').empty().append('<span>'+_options.display_value+' min</span>');
			}
			jeedom.cmd.update['#left_time_id#']({display_value: '#left_time#'});

			jeedom.cmd.update['#elapsed_time_id#'] =function(_options) {
				$('.Cmd#elapsed_time_id#').empty().append('<span>'+_options.display_value+' min</span>');
			}
			jeedom.cmd.update['#elapsed_time_id#']({display_value: '#elapsed_time#'});
			
			//----- Last update
			jeedom.cmd.update['#lastUpdate_id#'] = function(_options) {
				$('.Cmd#lastUpdate_id#').empty().append('<span>'+_options.display_value+'</span>');
			}
			jeedom.cmd.update['#lastUpdate_id#']({display_value:'#lastUpdate#'});
		}	

	</script>

</div>